body{
   margin:-1px;
}
.header{
    background-color:#7CB9E8;

}
.div button{
    margin:10px 0px 10px 150px;
    border-radius:40px;
    padding: 10px; 
    color: white;
    background-color:#5072A7;
    border-color: white;
}
.icon1{
    margin-left:250px;
}
.icon2{
    margin-left: 20px;
    border-left: 2px solid white;
    padding-left: 10px;
    border-color: white;
}
.spans{
    margin-left: 200px;
}
.spans span{
    border-left: 2px solid black;
    height: 50px;
    padding: 20px;
    border-color: white;
    margin-bottom: -40px;
    padding-top:20px;
}
.div1{
    background-color: white;
   
}
.div1 span{
    display: inline-block;
    color: black;
    margin-left: 60px;
}
.div1 h1{
  margin-left: -50px;
}
.glass{
    background-color: #72A0C1;
    padding:40px 10px 30px 10px;
}
.sp{
    background-color: #72A0C1;
    padding:40px 10px 30px 10px;
}
.div1 span img{
    width: 60px;
    height: 50px;
    margin-left: 140px;
}
.div2 {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    text-align:left; 
    padding: 120px;
    color: white;
}
.mindiv{
   border-left: 5px solid #5072A7; 
    height: 200px;
    padding:20px;
}
.mindiv button{
    border-radius:40px;
    padding: 10px; 
}
.bu1{
    background-color: #5072A7;
    color: white;
}
.bu2{
    background: transparent;
    color: white;
}
.box {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 3%; 
    margin-left: -120px;
  }
  .boxs {
    width: 25%; 
    height: 50%;  
    background-color: #7CB9E8;
    text-align: justify;
    margin-left: 20px;
  }
  main img{
    float: right;
    margin-right: 400px;
    width:190px;
  }
  .main{
    text-align: justify;
    margin-left: 120px;
    height: 300px;
  }
  .min h1{
    border-bottom: 5px solid #5072A7; 
    height: 200px;
}
  .main button{
    background-color: #5072A7;
    color: white;
    border-radius:40px;
    padding: 10px; 
}
.main p{
    width:700px;
}
footer{
    background-image: url("img3.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
footer h1{
    margin-left: 100px;
    padding-top: 50px;
    border-bottom: 3px solid #5072A7;
    width: 240px;
}
.footerboxs{
    display: flex;
    margin-left: 100px;  
}
.foo{
    width: 25%; 
    height: 200px;
}
.foo img{
    height: 200px;
    width: 370px;
}
.foo i{
    background-color: #5072A7;
    color: white;
    border-radius:60px;
    padding: 10px; 
    float: left;
    transform: translate(340%, 2%);
    margin-top: -5px;
}
.foo p{
    background-color: white;
    width: 200px;
    margin-top: -20px;
    transform: translate(80%, 5%);
    height: 30px;
}
